<h2>Make a booking</h2>
{{view CalendarPlugin.SelectAppointmentView }}
{{view CalendarPlugin.ClientDetailsView }}

{{#view NavBottomView}}
<table>
  <tr>
    <td class="text-left">
      &nbsp;{{view PreviousButton}}
    </td>
    <td class="text-right">
      {{view NextButton}}{{view SubmitButton}}&nbsp;
    </td>
  </tr>
</table>
{{/view}}