<div class="booking-summary">
<strong>What you're booking:</strong> {{content.booking.appointmentType.label}} with {{content.booking.user.name}} @ {{content.booking.timeslot.label}}, {{content.booking.date.label}}
</div>
<fieldset class="form-horizontal">
  <legend>Your details</legend>
  {{view CalendarPlugin.TextField valueBinding="content.booking.clientName" required="true" hint="something" label="Name"}}
  {{view CalendarPlugin.TextField valueBinding="content.booking.clientEmail" required="true" label="Email" validators="email"}}
  {{view CalendarPlugin.TextField valueBinding="content.booking.clientPhone" required="true" label="Phone"}}
</fieldset>

<fieldset class="form-horizontal">
  <legend>Is there anything else we should know?</legend>
  <div class="control-group">
    <label class="control-label">Comments</label>
    <div class="controls">
      {{view Ember.TextArea valueBinding="content.booking.comments" rows="10"}}
    </div>
  </div
</fieldset>

