!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title Calendar
    = stylesheet_link_tag "admin_vendor"
    = stylesheet_link_tag "admin_app"
    = csrf_meta_tags

  %body{:id => "#{@page_name}"}
    #header.navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{'data-toggle' => "collapse", 'data-target' => ".nav-collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar

          %a.brand{:href=>"#"} Calendar

          .nav-collapse
            %ul.nav
              - if current_user
                %li{:class => active_path_class(user_path(current_user))}
                  = link_to "Edit Profile", user_path(current_user)
                %li{:class => active_path_class(appointments_path)}
                  = link_to "Upcoming Appointments", appointments_path
                %li{:class => active_path_class(new_business_appointment_path(current_user.business))}
                  = link_to "Create Appointment", new_business_appointment_path(current_user.business)

            %ul.nav.pull-right
              - if current_user
                %li= link_to "Sign out", destroy_user_session_path, :method => :delete
              - else
                %li= link_to "Sign in", new_user_session_path
                %li= link_to 'Sign up', new_signup_path

    #body.container
      - flash_messages 'alert'
      = yield

    #footer.container
  = javascript_include_tag "admin_vendor"
  = javascript_include_tag "admin_app"
  %script{:type => "text/javascript", :charset => "utf-8"}
    = yield :javascript



