!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title Calendar Booking
    = stylesheet_link_tag "plugin_vendor"
    = stylesheet_link_tag "plugin_app"
    = csrf_meta_tags

  %body
    = yield
    = javascript_include_tag "plugin_vendor"
    = javascript_include_tag "plugin_app"
    %script{:type => "text/javascript", :charset => "utf-8"}
      = yield :javascript




